body {
  background-image: url("../../img/exit/phone6x12Portrait.png");
  background-repeat: no-repeat;
}
.AppPortrait {
  position: absolute;
  left: 0.33in;
  top: 1.11in;
  width: 3.79in;
  height: 6.67in;
}
.AppLandscape {
  position: absolute;
  left: 1.21in;
  top: 0.33in;
  width: 6.67in;
  height: 3.79in;
}
.Page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: 'Droid Sans', sans-serif;
}
.IconsUC {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  background: transparent;
}
.IconsHover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background: transparent;
  z-index: 3;
}
.Icons {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: black;
  color: white;
  font-size: 36px;
  z-index: 4;
}
.Icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 25.00%;
  height: 94%;
  z-index: 5;
  text-align: center;
}
.Icons > div {
  display: table;
}
.Icons > div > div {
  display: table-cell;
  vertical-align: middle;
}
.Icons > div > div > div {
  font-size: 0.3em;
}
.DestinationUI {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #658552;
  text-align: center;
}
.SourceBody {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25%;
}
.SourceLabelInput {
  padding-top: 1.0em;
}
.SourceUserLabel {
  font-size: 1.0em;
  font-weight: bold;
}
.SourceUserInput {
  font-size: 1.0em;
  font-weight: bold;
}
.SourceWhat {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 0.5em;
}
.SourceDest {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.SourceSelect {
  font-size: 1.0em;
  font-weight: bold;
}
.DestinationBody {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  height: 25%;
}
.DestinationLabelInput {
  padding-top: 1.0em;
}
.DestinationUserLabel {
  font-size: 1.0em;
  font-weight: bold;
}
.DestinationUserInput {
  font-size: 1.0em;
  font-weight: bold;
}
.DestinationWhat {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 0.5em;
}
.DestinationDest {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.DestinationSelect {
  font-size: 1.0em;
  font-weight: bold;
}
.GoUI {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #658552;
  text-align: center;
}
.GoBanner {
  position: absolute;
  display: table;
  font-weight: bold;
  background-color: white;
  color: #658552;
}
.NoGoBanner {
  position: absolute;
  display: table;
  font-weight: bold;
  background-color: #E2492F;
  color: white;
}
.BannerText {
  font-size: 3.0em;
  display: table-cell;
  vertical-align: middle;
}
.TripUI {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #658552;
}
.DealsUI {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.NavigateUI {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ThresholdUC {
  position: absolute;
  font-size: 1.5em;
  background-color: #678754;
  color: white;
}
.SearchUC {
  position: absolute;
  font-size: 1.5em;
  background-color: #678754;
  color: white;
}
.DealsUC {
  position: absolute;
  font-size: 1.5em;
  background-color: #678754;
  color: white;
  overflow: auto;
}
.AdvisoryUC {
  position: absolute;
  font-size: 1.5em;
  background-color: #678754;
  color: white;
}
.DriveBarUC {
  position: absolute;
  background-color: #658552;
}
.WeatherUC {
  position: absolute;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.0em;
}
.WeatherCell {
  position: absolute;
  left: 0;
  top: 0;
  width: 12.5%;
  height: 100%;
  border: 1px solid;
  text-align: center;
}
.WeatherName {
  font-size: 0.9em;
}
.WeatherName {
  font-size: 0.9em;
}
.WeatherIcon {
  font-size: 2.5em;
}
.WeatherSum1 {
  font-size: 1.0em;
  padding-top: 0.2em;
}
.WeatherSum2 {
  font-size: 1.0em;
}
.WeatherTemp {
  font-size: 1.5em;
}
